

/* TOP HEADER */

input#search-bar {}

i.fa.fa-search {}


.search-bar {
    font-size: 12px;
    line-height: 40px;
    border-radius: 30px;
    border: cyan;
    text-align: center;
    width: fit-content;
    height: 30px;
    padding-right: 20px;
}

.icon a:nth-child(2) {
    border-left: 2px solid;
}

.icon a:nth-child(2) {}

.icon a {
    color: #1a325d;
    font-size: 14px;
    padding: 8px 8px;
    background-color: azure;
    line-height: 10px;
}

.topheader {
    background-color: #27d5d5;
    height: 40px;
    color: white;
    line-height: 40px;
}

/* END HEADER */


  
  /* set for nganhangcauhoi */
  .row {
    margin-right: -15px;
    margin-left: -15px;
}
* {
    outline: 0!important;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}
.bank-center {
    margin: 0 -25px;
    border:  20px;
    padding: 0px 20px;
}
.p-t-10 {
    padding-top: 10px!important;
}
.bank-center .bank-body {
    border-bottom: 1px solid rgba(120,130,140,.13);
    display: table;
    width: 100%;
    padding: 20px 25px;
}
.bank-center .bank-contnet {
    display: table-cell;
    padding-left: 15px;
    vertical-align: top;
}
.bank-center .bank-contnet .time {
    display: inline-block;
    font-size: 12px;
    color: #98a6ad;
}
.bank-center .bank-contnet .bank-desc {
    font-size: 14px;
    display: block;
    margin: 15px 0;
    line-height: 25px;
    color: #848a96;
    overflow: hidden;
    max-height: 52px;
    text-overflow: ellipsis;
    font-family: inherit;
}
.btn-default.btn-outline {
    background-color: #fff;
}
.btn-default, .btn-default.disabled {
    background: #e4e7ea;
    border: 1px solid #e4e7ea;
    width: 90px;
}
.btn-rounded {
    border-radius: 60px;
}

/* clearheightad */
.clearheight {
    clear: both;
    height: 15px;
    width: auto;
}
.table {
    border: 1px solid #aaa;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    margin-bottom: 20px;
}

*{margin: 0;padding: 0}
